$gray: #8E9AAF;
$lavender: #CBC0D3;
$pale: #EAC7CC;
$white: #f6f6f6;

$pink: darken($pale, 20%);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');

$sans-serif: 'Open Sans', sans-serif;
$serif: 'Lora', serif;


/*items/new*/

.box {
  width: 650px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0,0,0,.1);
  background-color: #f6f6f6;
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}  

h2.pink {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #EAC7CC;
  font-size: 2em;
  letter-spacing: 8px;
}

h2.salmonpink {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: rgb(209, 113, 129);
  font-size: 2em;
  letter-spacing: 8px;
}


h5 {
  margin: 15px 0 0 0;
  color: grey;
  padding: 0;
  line-height: 0.05em;
  text-align: left;
}

.cosmeinfo{
  justify-content: center;
  text-align: center;
  justify-content: center;
}

.inputbox {
  display: flex;
  justify-content: center;
  padding: 5px;    
}

.selectb {
  width: 90%;
  margin: 0 ;
  color: grey;
  font-size: 12px;
  margin: 0 5px 0 0 ;
}

.selectbox {
  width: 100%;
  margin: 0 -10px 0 0;
  color: grey;
  font-size: 12px;
  cursor: pointer;
}


textarea {
width: 87%;
font-size: 12px;
margin: 0;
}




/*items/show*/
/*product*/
.pro{
  display: flex;
  width: 650px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0,0,0,.1);
  background-color: #f6f6f6;
  margin: 70px auto;
  justify-content: center;
}

.blok{
  display: flex;
  margin-top: 60px;
  margin-right: 100px;
  margin-left: 120px;
}

.product-image{
  width: 200px;
  height: 300px;
}

.product-info{
  width: 300px;
  margin-left: 30px;
}

.name{
  font-size: 25px;
  margin-bottom: 10px;
}

.brand{
  font-size: 15px;
}

.border2{
  border: 1px solid rgba(rgb(209, 113, 129), 0.5);
  margin-top: 15px;
  margin-bottom: 20px;
}

.memo{
  color: gray;
  font-size: 12px;

}

.buttons{
  display: flex;
  justify-content: center;
  margin: 250px 50px 0 -190px;
}

.button2 { 
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  outline: none;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}

.button4 { 
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  outline: none;
  text-decoration: none;
  width: 150px;
  margin-left: 40px;
  cursor: pointer;
}


.click{
  text-decoration: none;
  color: gray;
  padding: auto;
}


/*users/show*/
.probox2{
  display: flex;
  width: 650px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0,0,0,.1);
  background-color: #EAC7CC;
  margin: 40px auto;
  justify-content: center;
}

.blok2{
  display: flex;
}

.product-info2{
  margin: 20px -60px 50px 100px ;
}

.item-title{
  display: flex;
  align-items: last baseline;
}

.user-nickname{
  font-size: 25px;
  margin-left: 80px;
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Mochiy Pop One', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: #f6f6f6;
}

.user-age{
  font-size: 22px;
  margin-left: 125px;
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Mochiy Pop One', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: #f6f6f6;
}

.user-skin-type{
  font-size: 22px;
  margin-left: 85px;
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Mochiy Pop One', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: #f6f6f6;
}

.user-personal-color{
  font-size: 22px;
  margin-left: 45px;
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Mochiy Pop One', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: #f6f6f6;
}

.user-face-type{
  font-size: 22px;
  margin-left: 85px;
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Mochiy Pop One', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: #f6f6f6;
}

.border3{
  border: 1px solid rgba(gray, 0.5);
  margin: -5px 0 20px -10px ;
  text-align: center;
  width: 105%;  
}

.buttons2{
  display: flex;
  justify-content: flex-end;
  margin: 350px 90px 0 -180px;
}

.button3{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  outline: none;
  margin-left: 40px;
  text-decoration: none;
  cursor: pointer;
}


.click2{
  text-decoration: none;
  color: black;
  padding: auto;
}

.submit2 {
  padding: 12px;
  border-color: gray;
  &:hover {
    background: $lavender;
    border-color: darken($lavender, 5%);
  }
}

.button5{
  display: flex;
  
  margin: 405px 100px 50px -65px;
}


/*users/edit*/
.outoline{
  margin-top: 15px;
  align-content: center;
}

.selectbox2{
  width: 99%;
  height: 25px;
  margin: 0 -17px 0 5px;
  color: grey;
  font-size: 12px;
  cursor: pointer;
}

.probox{
  display: flex;
  width: 650px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0,0,0,.1);
  background-color: #EAC7CC;
  margin: 70px auto;
  justify-content: center;
}
