/*users/search*/
.image2{
  width: 100px;
  margin: 40px 0 ;
}

.box-a{
  width: 650px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0,0,0,.1);
  background-color: #f6f6f6;
  margin: 30px auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

.content-a{  
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.select-box2{
  width: 77%;
  height: 20px;
  margin: 8px 0 0 30px;
  color: grey;
  font-size: 12px;
  cursor: pointer;
}

/*shared/_error_messages*/
.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}